*.iml
Services/DropExample/.idea/
Services/DropExample/target/
Services/CapsuleExample/.idea/
Services/CapsuleExample/build/
Services/CapExample/.idea/
Services/CapExample/build/
Services/CapExample/.gradle/
Services/TF-Login/.idea/
Services/TF-Login/build/
Services/TF-Login/.gradle/
Services/TF-Login/atlassian-ide-plugin.xml
TruFleetWebServices/.idea
TruFleetWebServices/build
TruFleetWebServices/.gradle
TruFleetWebServices/atlassian-ide-plugin.xml
TruFleetWebServices/logs