<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.truefleet.com.truefleet" >

    <permission
        android:name="app.truefleet.com.truefleet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="app.truefleet.com.truefleet.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <application
        android:name="app.truefleet.com.truefleet.TrueFleetApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         >

        <!--ActiveAndroid -->
        <meta-data android:name="AA_DB_NAME" android:value="TruFleet.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="app.truefleet.com.truefleet.Models.Freight, app.truefleet.com.truefleet.Models.Account,
                            app.truefleet.com.truefleet.Models.Contact, app.truefleet.com.truefleet.Models.Containers,
                            app.truefleet.com.truefleet.Models.Linehaul, app.truefleet.com.truefleet.Models.Order"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="app.truefleet.com.truefleet.Activitieis.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activitieis.Login.LoginActivity"
            android:label="@string/title_activity_login" >

        </activity>
        <activity
            android:name="app.truefleet.com.truefleet.Activitieis.OrderActivitys"
            android:label="@string/title_activity_order" >



            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.truefleet.com.truefleet.Activitieis.HomeActivity" />
        </activity>

        <receiver
            android:name="app.truefleet.com.truefleet.Tasks.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="app.truefleet.com.truefleet" />
            </intent-filter>
        </receiver>
        <service android:name="app.truefleet.com.truefleet.Tasks.GcmIntentService" />

    </application>

</manifest>
